@font-face {
  font-family: "GostUI_Bold";
  src: 
  // url("../fonts/GostUI_Bold.eot");
  // src: url("../fonts/GostUI_Bold.eot?#iefix") format("embedded-opentype"),
  //   url("../fonts/GostUI_Bold.woff2") format("woff2"),
  //   url("../fonts/GostUI_Bold.woff") format("woff"),
    url("../fonts/GostUI_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GostUI_Medium";
  src: url("../fonts/GostUI_Medium.ttf") format("truetype");
  // url("../fonts/GostUI_Medium.eot");
  // src: url("../fonts/GostUI_Medium.eot?#iefix") format("embedded-opentype"),
  //   url("../fonts/GostUI_Medium.woff2") format("woff2"),
  //   url("../fonts/GostUI_Medium.woff") format("woff"),

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GostUI_Regular";
  src: 
  // url("../fonts/GostUI_Regular.eot");
  // src: url("../fonts/GostUI_Regular.eot?#iefix") format("embedded-opentype"),
  //   url("../fonts/GostUI_Regular.woff2") format("woff2"),
  //   url("../fonts/GostUI_Regular.woff") format("woff"),
    url("../fonts/GostUI_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-link:before {
  content: "\e901";
}

.icon-cart:before {
  content: "\e902";
}

.icon-favorite:before {
  content: "\e903";
}

.icon-location:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-send:before {
  content: "\e907";
}

.icon-share:before {
  content: "\e908";
}
