@mixin footer-lower-el {
  border-top: 1px solid $gray;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}

.footer {
  background-color: $lightBlue;

  &__container {
    display: grid;
    grid-template-columns:
      calc((450px / 1220px) * 100%) calc((501px / 1220px) * 100%)
      calc((254px / 1220px) * 100%);
    grid-template-rows: 1fr 85px;
  }

  &__contacts {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
  }

  & .logo {
    margin-bottom: auto;
  }

  &__address {
    margin-bottom: 16px;
  }
  &__phone {
  }
  &__phone-link {
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: $mainColor;
  }
  &__main-blocks {
    padding: 70px 0;
  }
  &__extra-links {
    padding: 70px 0;
  }
  &__copyright {
  }
  &__conf-policy {
  }
  &__conf-policy-link {
  }
  &__socials {
    @include footer-lower-el;
    font-size: 0;
  }
  &__copyright {
    @include footer-lower-el;
  }
  &__conf-policy {
    @include footer-lower-el;
  }

  &__conf-policy-link {
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: $mainColor;
  }
}

.simple-list {
  &__title {
    font-family: "GostUI_Medium";
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    padding: 7px 0;
    margin-bottom: 30px;
  }
  &__list {
    list-style: none;

    :not(:last-child) {
      margin-bottom: 19px;
    }
  }
  &__item {
  }
  &__link {
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: $mainColor;
  }
}

.socials {
  display: flex;
  :not(:last-child) {
    margin-right: 20px;
  }

  &__img {
    width: 27px;
    height: 27px;
  }
  &__item {
    &_fb {
    }
    &_vk {
    }
    &_ok {
    }
    &_tg {
    }
  }
  &__link {
  }
}
