$mainColor: #14171e;
$gray: #dbdcdf;
$lightGray: #f8f8f8;
$darkBlue: #1e3685;
$blue: #1771e6;
$blueHover: rgba(
  $color: $blue,
  $alpha: 0.48,
);
$lightBlue: #e8f1fb;
$yellow: #ffdd2d;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1220;
// $md1: 1920;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
@import "null.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "header.scss";
@import "benefits.scss";
@import "social-navigator.scss";
@import "news.scss";
@import "documents.scss";
@import "regions.scss";
@import "gosuslugi.scss";
@import "footer.scss";
body {
  font-family: "GostUI_Regular";
  font-size: 16px;
  color: $mainColor;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  //   @media (max-width: $md1+px) {
  //     max-width: 1220px;
  //   }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &__benefits {
    padding: 50px 0;
  }
}

//===================================================================================================================================
//====================================================================================================
._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

body.ie {
  ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

//===================================================================================================================================
._title {
  @include adaptive-value("font-size", 40, 24, 1);
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

//====================================================================================================
.btn {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 0 15px;
  //   text-align: center;
  //   transition: all 0.3s ease 0s;
  //   min-height: 48px;
  //   background-color: $orangeColor;
  //   color: #fff;
  //   @media (any-hover: hover) {
  //     &:hover {
  //       background-color: darken($color: $orangeColor, $amount: 5%);
  //     }
  //   }
  //   &_white {
  //     color: $orangeColor;
  //     background-color: #fff;
  //     @media (any-hover: hover) {
  //       &:hover {
  //         background-color: $orangeColor;
  //         color: #fff;
  //       }
  //     }
  //   }
}
