$mainColor: #3A3A3A;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$maxWidthContainerPadding: 15;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
@import "null.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";
@import "main-slider.scss";
@import "advantages.scss";
@import "products.scss";
@import "rooms.scss";
@import "tips.scss";
@import "popup.scss";
body {
    // background-color: #fcf8f3;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    color: $mainColor;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: $maxWidthContainer + px;
    padding: 0 $maxWidthContainerPadding + px;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    display: flex;
    flex: 1 1 auto;
    overflow-x: hidden;
    z-index: 1;
    flex-direction: column;
    &__main-slider {}
}

//===================================================================================================================================
//====================================================================================================
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

body.ie {
    ._ibg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    ._ibg img {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}

//===================================================================================================================================
._title {
    @include adaptive-value("font-size", 40, 24, 1);
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

//====================================================================================================
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    min-height: 48px;
    background-color: $orangeColor;
    color: #fff;
    @media (any-hover: hover) {
        &:hover {
            background-color: darken($color: $orangeColor, $amount: 5%);
        }
    }
    &_white {
        color: $orangeColor;
        background-color: #fff;
        @media (any-hover: hover) {
            &:hover {
                background-color: $orangeColor;
                color: #fff;
            }
        }
    }
}